@using BikeShop.Config
@model BikeShop.Models.Piece
@{
    ViewBag.Title = "New";
}

<h2>Editeaza piesa @Model.Name</h2>

@using (Html.BeginForm(actionName: Utilities.ACTION_UPDATE, controllerName: Utilities.PIECE_CONTROLLER))
{
    @Html.HttpMethodOverride(HttpVerbs.Put)

    @Html.ValidationSummary(true, "Au existat erori la validare", new { @class = "text-danger" })
    <br />

    @Html.LabelFor(b => b.Name)
    <br />
    @Html.TextBoxFor(b => b.Name, null, new { value = Model.Name, @class = "form-control" })
    @Html.ValidationMessageFor(b => b.Name, "", new { @class = "text-danger" })
    <br />

    @Html.LabelFor(b => b.Description)
    <br />
    @Html.TextAreaFor(b => b.Description, new { value = Model.Description, @class = "form-control" })
    @Html.ValidationMessageFor(b => b.Description, "", new { @class = "text-danger" })
    <br />

    @Html.LabelFor(b => b.FabricationDate)
    <br />
    <input name="FabricationDate" type="date" value="@Model.FabricationDate.ToString("yyyy-MM-dd")" class="form-control" />
    @Html.ValidationMessageFor(b => b.FabricationDate, "", new { @class = "text-danger" })
    <br />

    @Html.LabelFor(b => b.Quantity)
    <br />
    @Html.TextBoxFor(m => m.Quantity, new { value = Model.Quantity, type = "number", min = "0", step = "1", @class = "form-control" })
    @Html.ValidationMessageFor(b => b.Quantity, "", new { @class = "text-danger" })
    <br />

    @Html.LabelFor(b => b.Price)
    <br />
    @Html.TextBoxFor(m => m.Price, new { value = Model.Price, type = "number", min = "0", step = "0.01", @class = "form-control" })
    @Html.ValidationMessageFor(b => b.Price, "", new { @class = "text-danger" })
    <br />


    @Html.LabelFor(b => b.IsAccessory)
    <br />
    @Html.DropDownListFor(b => b.IsAccessory, new SelectList(Model.AccessoryOptionList, "Value", "Text"), new { @class = "form-control" })
    @Html.ValidationMessageFor(b => b.IsAccessory, "", new { @class = "text-danger" })
    <br />
    <br />

    @Html.LabelFor(b => b.IsIndependent)
    <br />
    @Html.DropDownListFor(b => b.IsIndependent, new SelectList(Model.SellingOptionList, "Value", "Text"), new { @class = "form-control" })
    @Html.ValidationMessageFor(b => b.IsIndependent, "", new { @class = "text-danger" })
    <br />
    <br />


    <div id="imgDiv" style="display: none;">
        <br />
        <label>Imagine selectata</label>
        <br />
        <img id="selectedImg" src="" alt="bike_photo" width="200">
        <br />
    </div>

    @Html.LabelFor(b => b.NewImagePath)
    @Html.TextBoxFor(b => b.NewImagePath, new { type = "file", @class = "form-control" })
    <br />


    <br />
    @Html.LabelFor(b => b.Bikes, "Alege biciclete care contin aceasta piesa")
    <br />
    <br />

    <div style="width:50%">
        <table id="bikes" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Selecteaza</th>
                    <th>Nume</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.BikeCheckBoxesList != null)
                {
                    for (int i = 0; i < Model.BikeCheckBoxesList.Count(); i++)
                    {
                        <tr>
                            <td>
                                @Html.HiddenFor(b => b.BikeCheckBoxesList[i].Id)
                                @Html.HiddenFor(b => b.BikeCheckBoxesList[i].Name)
                                @Html.HiddenFor(b => b.BikeCheckBoxesList[i].DisplayName)
                                @Html.CheckBoxFor(b => b.BikeCheckBoxesList[i].Checked)
                            </td>
                            <td>
                                @Html.DisplayFor(b => b.BikeCheckBoxesList[i].DisplayName)
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>

    @Html.HiddenFor(b => b.PieceId, new { value = Model.PieceId })

    @Html.HiddenFor(b => b.UserId)

    <br />
    <button class="btn btn-primary" type="submit">Salveaza modificarile</button>

}



@section scripts
{
    <script>
        $(document).ready(function () {
            $("#bikes").DataTable();

            const newImgPath = document.getElementById("NewImagePath");
            const selectedImg = document.getElementById("selectedImg");
            const imgDiv = document.getElementById("imgDiv");

            @if(Model.ImagePath != null)
            {   <text>
                    selectedImg.src = "../@Model.ImagePath";
                    imgDiv.style.display = "inherit";
                </text>
            }
            else
            {
                @:imgDiv.style.display = "none";
            }

            newImgPath.addEventListener("change", handleImage, false);
            function handleImage() {
                if (!newImgPath.value) {
                    selectedImg.src = "../@Model.ImagePath";
                    return;
                }
                var filePath = newImgPath.value.split('\\')[2];
                selectedImg.src = "../@Utilities.PIECES_IMAGES_PATH" + filePath;
                imgDiv.style.display = "inherit";
            }

        });
    </script>
}