@model BikeShop.Models.Bike
@{
    ViewBag.Title = "Details";
}

<h2>Detalii bicicleta @Model.Name</h2>

@Model.Description
<br />
@Model.FabricationDate
<br />
@Model.Price

<br />
@Model.Quantity

<br />
Piese
@foreach(BikeShop.Models.Piece p in Model.Pieces)
{
    @p.Name;<br />
}



@Html.ActionLink("Inapoi la biciclete", "Index")

<br />

@Html.ActionLink("Editeaza detalii", "Edit", new { id = @Model.BikeId })

<form method="post" action="/Bike/Delete/@Model.BikeId">
    <button type="submit">Sterge bicicleta</button>
</form>


