@model BikeShop.Models.Bike
@{
    ViewBag.Title = "Edit";
}

<h2>Editeaza bicicleta @Model.Name</h2>

<form method="post" action="/Bike/Update">
    @Html.ValidationSummary(true, "Au existat erori la validare", new { @class = "text-danger" })
    <br />


    @Html.LabelFor(b => b.Name)<br />
    @Html.TextBoxFor(b => b.Name, new { value = Model.Name })
    @Html.ValidationMessageFor(b => b.Name, "", new { @class = "text-danger" })
    <br />


    @Html.LabelFor(b => b.Description) <br />
    @Html.TextBoxFor(b => b.Description, new { value = Model.Description })
    @Html.ValidationMessageFor(b => b.Description, "", new { @class = "text-danger" })
    <br />


    @Html.LabelFor(b => b.FabricationDate)<br />
    @Html.TextBoxFor(model => model.FabricationDate, new { @type = "date", value = Model.FabricationDate.ToString("YYYY - MM - DD") })
    @Html.ValidationMessageFor(b => b.FabricationDate, "", new { @class = "text-danger" })
    <br />



    @Html.LabelFor(b => b.Quantity) <br />
    @Html.TextBoxFor(m => m.Quantity, new { type = "number", min = "0", step = "1" , value = Model.Quantity})
    @Html.ValidationMessageFor(b => b.Quantity, "", new { @class = "text-danger" })
    <br />

    @Html.LabelFor(b => b.Price) <br />
    @Html.TextBoxFor(m => m.Price, new { type = "number", min = "0", step = "0.01" , value = Model.Price})
    @Html.ValidationMessageFor(b => b.Price, "", new { @class = "text-danger" })
    <br />

    @Html.HiddenFor(b => b.BikeId, new { value = Model.BikeId })

    <button type="submit">Salveaza modificarile</button>

</form>

<br /><br />
<button class="btn-delete">@Html.ActionLink("Sterge bicicleta", "Delete", new { id = @Model.BikeId })</button>
